{% extends '_template.html' %}
{% block title %}PCMarket | Edit {{listing_id}}{% endblock %}

{% block body %}

<div class="justify-content-center mt-5 text-center p-3" >
    <h3>Please enter all relevant device information into the form below:</h3>
</div>
<div class="mt-2 text-center"> 
    <p>If the device does not contain one of these or you are unsure, input “N/A”</p>
</div>
<div class="container">
    <form class="border border-dark border-2 bg-light w-50 mx-auto p-3" action="/edit/{{ listing_id }}" method="POST">
        <p class="p-2 h6 font-weight-bold">Computer Details</p>
        <div class="row p-2">
            <div class="col">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control border border-dark" aria-label="Dollar amount (with dot and two decimal places)" id="price" name ="price" value="{{ current_price }}" required>    
                </div>
            </div>
            <div class="col">
                <label for="computer_case" class="form-label">Case</label>
                <input type="text" class="form-control border border-dark" id="computer_case" name ="computer_case" value="{{ current_case }}" required>
            </div>
            <div class="col">
                <label for="motherboard" class="form-label">Motherboard</label>
                <input type="text" class="form-control border border-dark" id="motherboard" name ="motherboard" value="{{ current_motherboard }}" required>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <label for="cpu" class="form-label">CPU</label>
                <input type="text" class="form-control border border-dark" id="cpu" name ="cpu" value="{{ current_cpu }}" required>
            </div>
            <div class="col">
                <label for="gpu" class="form-label">GPU</label>
                <input type="text" class="form-control border border-dark" id="gpu" name ="gpu" value="{{ current_gpu }}" required>
            </div>
            <div class="col">
                <label for="ram" class="form-label">RAM</label>
                <input type="text" class="form-control border border-dark" id="ram" name ="ram" value="{{ current_ram }}" required>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <label for="memory" class="form-label">Memory</label>
                <input type="text" class="form-control border border-dark" id="memory" name ="memory" value="{{ current_memory }}" required>
            </div>
            <div class="col">
                <label for="fans" class="form-label">Fans</label>
                <input type="text" class="form-control border border-dark" id="fans" name ="fans" value="{{ current_fans }}" required>
            </div>
            <div class="col">
                <label for="power_supply" class="form-label">Power Supply</label>
                <input type="text" class="form-control border border-dark" id="power_supply" name ="power_supply" value="{{ current_power_supply }}" required>
            </div>
        </div>
        <div class="row p-2">
        <div class="col">
            <label for="condition" class="form-label">Condition</label>
            <select class="form-select" aria-label="condition" required>
                <option value="{{ current_condition }}">{{ current_condition }}</option>
                <option value="1">Factory New</option>
                <option value="2">Minimal Wear</option>
                <option value="3">Field Tested</option>
                <option value="4">Well Worn</option>
                <option value="5">Battle Scarred</option>
            </select>
        </div>
        <div class="col">
            <div class="mt-3 p-3">
                <input class="form-check-input border border-dark" type="checkbox" name ="rgb" value="True" id="rgb" {% if current_rgb %}checked{% endif %}>
                <label class="form-check-label" for="rgb">
                  RGB
                </label>
            </div>
        </div>
    </div>
        <div class="row p-2">
            <div class="col">
                <label for="comments" class="form-label">Description</label>
                <textarea type="text" class="form-control border border-dark" id="comments" name ="comments" rows="4" value="{{ current_comments }}"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col p-3">
                <button type="submit" class="btn btn-primary float-end">Update Listing</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}