{% extends '_template.html' %}
{% block title %}PCMarket | All Listings{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                {% for computer in Computa %}
                <div class="col-sm m-2">
                    <div class="card" style="width: 18rem; border: none;">
                        <!-- Img link goes here -->
                        <img class="card-img-top" src="{{ computer.image }}" alt="{{ computer.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ computer.name }}</h5>
                            <ul>
                                <li>{{ computer.cpu }}</li>
                                <li>{{ computer.gpu }}</li>
                                <li>{{ computer.ram }}</li>
                            </ul>
                            <a href = "/view/{{ computer.computer_id }}" class="btn btn-primary py-2 px-3 w-100 opacity-75">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}