{% extends '_template.html' %}
{% block title %}PCMarket | Login{% endblock %}

{% block body %}

<div class="p-5 bg-secondary w-75 mx-auto" style="--bs-bg-opacity: .1;">
    <h1 class="text-center mb-5">Login</h1>
    <div class="mx-auto w-50">
        <form action="/login" method="POST" class="mb-5">
            <div class="form-group pb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <div class="form-group pb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary w-100 opacity-75">Login</button>
        </form>
    </div>
</div>

{% endblock %}